body {
	font-family: Verdana;

}
#quemsomos{
	text-align: center;
margin-right: auto;
margin-left: auto;

padding: 50px;
border: 10px solid black;
border-radius:0px 0px 20px 20px;
padding-bottom: 100px;
}


 #nossosparceiros{
	text-align: center;
margin-right: auto;
margin-left: auto;

padding: 50px;
border: 10px solid black;
border-radius:0px 0px 20px 20px;
}
#logo2{


}
#ifood{
border: 10px solid black;

}
#nossoslanches{text-align: center;
margin-right: auto;
margin-left: auto;

padding: 80px;
border: 10px solid black;
border-radius:0px 0px 20px 20px;
}
#contato{
	text-align: center;
	text-shadow: blue;
}
footer{
	background-color: black;
	text-align: center;
	color: white;
}